@import "tailwindcss";

:root {
  --background: #ffffff;          /* Pure light white UI as requested */
  --background-mute: #f8fafc;     /* Standard Slate-50 for secondary backgrounds */
  --foreground: #000000;          /* Pure black text */
  --foreground-mute: #000000;     /* Pure black text for descriptions */
  --primary: #111FA2;
  --secondary: #7AAACE;
  --highlight: #9CD5FF;
}

@theme inline {
  --color-background: var(--background);
  --color-background-mute: var(--background-mute);
  --color-foreground: var(--foreground);
  --color-foreground-mute: var(--foreground-mute);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
